@media (max-width: 1200px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .item {
    width: 100%;
    max-width: 370px;
  }
}
@media (max-width: 1000px) {
  .footer { 
    &__inner {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
    &__info {
      width: 100%;
      margin-bottom: 10px;
    }
    &__communicate {
      text-align: center;
    }
    &__communicate-age {
      padding-top: 13px;
    }
  }
}
@media (max-width: 940px) {
 .items {
    grid-template-columns: 1fr;
  }
  .item {
    margin-bottom: 15px;
  }
}
@media (max-width: 750px) {
  .header {
    &__inner {
      flex-wrap: wrap;
    }
    &__info {
      padding-top: 20px;
      padding-bottom: 18px;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }
  .logo {
    padding-right: 0;
  }
  .location {
    margin-left: auto;
  }
}
@media (max-width: 750px) {
  .content {
    &__info {
      font-size: 15px;
    }
  }
}
@media (max-width: 500px) {
  .item-range {
    &__info {
      font-size: 15px;
    }
    &__info span {
      font-size: 26px;
    }
  }
  .item {
    padding-left: 10px;
    padding-right: 10px;
  }
}